.StatBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #F0F7EE;

    .StatBox--Title{
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .StatBox--Subtitle{
        font-size: 1.9rem;
        font-weight: 300;
    }
}

@media(max-width: 420px){
    .StatBox{
        width: 50%;
        margin-bottom: 2rem;

        .StatBox--Title{
            text-align: center;
        }
    }
}