.Card{
    height: 40vh;
    width: 21vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #59CD90;
    border-radius: 1rem;
    margin-bottom: 4vh;

    .Card--Details{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: #F0F7EE;
    }

    .Card--Title{
        font-size: 4rem;
        text-transform: capitalize;
        font-weight: 300;
    }

    .Card--Description{
        font-size: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        font-weight: 300;
    }

}